@import model.Searchphraseresult
@import model.Resultlist
@import java.util
@(searchResults : Map[String, String])


@main("FreeLancelot") {
    <center>
        <article style="margin-top:50px;">
            <div>
                <h4>Readability for an Individual Project</h4>
                <p>The Flesch–Kincaid readability tests are readability tests designed to indicate how difficult a passage in English is to understand. There are two tests: the Flesch Reading-Ease, and the Flesch–Kincaid Grade Level.</p>
                <a href="https://en.wikipedia.org/wiki/Flesch%E2%80%93Kincaid_readability_tests">Click here to know more!</a>
                @for( (keys,value) <- searchResults){
                    @if(keys.equals("FleshIndex")){
                        <p>Flesch Readability Index: @value</p>
                    }
                    @if(keys.equals("FKGL")){
                        <p>FKGL: @value</p>
                    }
                }
            </div>
        </article>
    </center>
}